body {
    padding: 0;
    margin: 0;
}

.list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    width: 300px;
    padding: 0;
}

.add {
    padding: 0;
    background-color: rgb(255, 255, 255);
    border: none;
    transform: scale(2);
    width: 20px;
    transition-duration: 1000ms;
}

.add:hover,.add .fa-plus:hover {
    color: #ffffff;
    background-color: rgb(29, 29, 118);
}

ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 20px;
    width: 100%;
    overflow-y: scroll;
    height: 400px;
}

li {
    list-style: none;
    width: 80%; 
    align-self: center;
    display: block;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(237, 237, 238);
    padding: 10px;
    overflow-wrap: break-word; /* Handles long words */
}

.task {
    background-color: #f8f8f8;
    width:300px ;
    height: 50px;
    border-radius: 12px;
    overflow-wrap: break-word;
}

.Delete,
.modifie {
    background-color: rgb(255, 255, 255);
    transform: scale(1.5);
    border: none;
    margin: 10px;
    float: right;
    
}

.Delete:hover,  .fa-trash-can:hover{
   color: #ffffff !important;
   background-color: #ff0000;
}
.modifie:hover,.modifie .fa-pen:hover{
    color: #ffffff;
    background-color: rgb(29, 29, 118);
}

button {
    margin-right: 10px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.Reset {
    height: 40px;
    width: 150px;
    background-color: #ffffff;
    border: none;
    transition-duration: 1000ms;
    font-size: 20px;
    
}

.Reset:hover {
    background-color: red;
    color: #ffffff;
}
li:first-child{
    display: block;
}



@media (max-width: 500px) { 
    .list {
        width: 350px;
    }
    .task{
        width: 250px;
        height: 30px;
    }
    li{
        font-size: 15px;
    }
    .bnts{
        display: block;
    }
}
